.THIS {
    background-color: #1C3259;
    color: #FFFFFF;
    border-radius: 0.25rem 0.25rem 0 0;
    border: none;
}

.THIS h2 {
    font-size: 20px !important;
}

.THIS img {
    max-height: 50px;
}